@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-code: 'Fira', monospace;
  --color-code-string: #94C76D;
  --color-code-number: #D98A3B;
  --color-code-boolean: #d19a66;
  --color-code-null: #56b6c2;
  --color-code-keyword: #C756E8;
  --color-code-function: #48ACFA;
  --color-code-variable: #E04351;
  --color-code-property: #CCCCCC;
  --color-code-operator: #DE50A5;
  --color-code-punctuation: #abb2bf;
  --color-code-comment: #EDED2F;
  --color-code-url: #61afef;
}

@font-face {
  font-family: 'Fira';
  src: url('/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}