@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-robmon: 'Roboto Mono', monospace;
  --font-ibmmon: 'IBM Mono', monospace;
  --color-code-string: #98c379;
  --color-code-number: #d19a66;
  --color-code-boolean: #d19a66;
  --color-code-null: #56b6c2;
  --color-code-keyword: #c678dd;
  --color-code-function: #61afef;
  --color-code-variable: #e06c75;
  --color-code-property: #abb2bf;
  --color-code-operator: #56b6c2;
  --color-code-punctuation: #abb2bf;
  --color-code-comment: #7f848e;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Mono';
  src: url('/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}